ALTER PROCEDURE [dbo].[sp_VDB_EyeExamData]
	@EyeExamId uniqueidentifier
AS
BEGIN
	SET NOCOUNT ON;

    select 
	c.Title,
	c.PreviousSurname,
	c.Surname,
	c.Firstnames,
	c.Title + ' ' + c.Firstnames + ' ' + c.Surname FullName,
	c.DOB,
	replace(c.Address, char(13) + char(10), ' ') Address,
	c.Postcode,
	ee.TestDateAndTime,
	c.NHSNo,
	c.NINo,
	c.PreviousEyeExamDate, 
	c.NextDueDateEyeExam,
	dbo.fn_IsOver60(c.DOB) Over60,
	dbo.fn_IsUnder16(c.DOB) Under16,
	c.Doctor,
	c.GPpracticename,
	replace(c.GPpracticeaddress, char(13) + char(10), ' ') GPpracticeaddress,
	c.GPpracticepostcode,
	op.Title + ' ' + op.Firstnames + ' ' + op.Surname OpticianName,
	op.ListNumber OpticianListNumber,
	p.Name PracticeName,
	replace(p.Address, char(13) + char(10), ' ') PracticeAddress,
	p.Postcode PracticePostcode,
	p.Tel PracticeTel,
	p.Email PracticeEmail,
	dbo.fn_VDB_SignedNumeric2DP(ee.RSphericalDist) RSphericalDist,
	dbo.fn_VDB_SignedNumeric2DP(ee.LSphericalDist) LSphericalDist,
	dbo.fn_VDB_SignedNumeric2DP(ee.RCylDist) RCylDist,
	dbo.fn_VDB_SignedNumeric2DP(ee.LCylDist) LCylDist,
	dbo.fn_VDB_Numeric0DP(ee.RAxisDist) RAxisDist,
	dbo.fn_VDB_Numeric0DP(ee.LAxisDist) LAxisDist,
	isnull(dbo.fn_VDB_SignedNumeric2DP(ee.RPrismDistH), '') + ' / ' + isnull(dbo.fn_VDB_SignedNumeric2DP(ee.RPrismDistV), '') RPrismDist,
	isnull(dbo.fn_VDB_SignedNumeric2DP(ee.LPrismDistH), '') + ' / ' + isnull(dbo.fn_VDB_SignedNumeric2DP(ee.LPrismDistV), '') LPrismDist,
	bRBaseDistH.Name + ' / ' + bRBaseDistV.Name RBaseDist,
	bLBaseDistH.Name + ' / ' + bLBaseDistV.Name LBaseDist,
	dbo.fn_VDB_SignedNumeric2DP(ee.RSphericalNear) RSphericalNear,
	dbo.fn_VDB_SignedNumeric2DP(ee.LSphericalNear) LSphericalNear,
	dbo.fn_VDB_SignedNumeric2DP(ee.RCylNear) RCylNear,
	dbo.fn_VDB_SignedNumeric2DP(ee.LCylNear) LCylNear,
	dbo.fn_VDB_Numeric0DP(ee.RAxisNear) RAxisNear,
	dbo.fn_VDB_Numeric0DP(ee.LAxisNear) LAxisNear,
	isnull(dbo.fn_VDB_SignedNumeric2DP(ee.RPrismNearH), '') + ' / ' + isnull(dbo.fn_VDB_SignedNumeric2DP(ee.RPrismNearV), '') RPrismNear,
	isnull(dbo.fn_VDB_SignedNumeric2DP(ee.LPrismNearH), '') + ' / ' + isnull(dbo.fn_VDB_SignedNumeric2DP(ee.LPrismNearV), '') LPrismNear,
	bRBaseNearH.Name + ' / ' + bRBaseNearV.Name RBaseNear,
	bLBaseNearH.Name + ' / ' + bLBaseNearV.Name LBaseNear,
	dbo.fn_VDB_Numeric2DP(ee.PDRight) PDRight,
	dbo.fn_VDB_Numeric2DP(ee.PDLeft) PDLeft,
	dbo.fn_VDB_Numeric2DP(ee.RHeight) RHeight,
	dbo.fn_VDB_Numeric2DP(ee.LHeight) LHeight,
	p.PrimaryCareTrustGOS,
	c.SchoolCollegeUniversity,
	replace(c.SchoolCollegeUniversityAddress, char(13) + char(10), ' ') SchoolCollegeUniversityAddress,
	c.SchoolCollegeUniversityPostcode,
	op.GOCNumber,
	p.ContractorName,
	p.ContractorNumber,
	ee.SymptomsAndHistory,
	ee.RFV,
	ee.POH,
	ee.Dipl,
	ee.HA,
	ee.FF,
	ee.GH,
	ee.MEDS,
	ee.Allergies,
	ee.FH,
	om.Name ObjectiveMethod,
	ee.RetDvisionR,
	ee.RetNvisionR,
	ee.RetSphereR,
	ee.RetCylR,
	ee.RetAxisR,
	ee.RetDvisionL,
	ee.RetNvisionL,
	ee.RetSphereL,
	ee.RetCylL,
	ee.RetAxisL,
	ee.SubRVisionD,
	ee.SubRSph,
	ee.SubRCyl,
	ee.SubRAxis,
	ee.SubRPrismD,
	ee.SubRVA,
	ee.SubRIAdd,
	ee.ExternalEyePinholeRight,
	ee.SubRVisionN,
	ee.SubRPrismN,
	ee.SubRNVA,
	ee.SubRNAdd,
	ee.SubRBinVA,
	ee.SubRBinNVA,
	ee.SubLVisionD,
	ee.SubLSph,
	ee.SubLCyl,
	ee.SubLAxis,
	ee.SubLPrismD,
	ee.SubLVA,
	ee.SubLIAdd,
	ee.ExternalEyePinholeLeft,
	ee.SubLVisionN,
	ee.SubLPrismN,
	ee.SubLNVA,
	ee.SubLNAdd,
	ee.BVDRight,
	ee.PDRightNear,
	ee.BVDLeft,
	ee.PDLeftNear,
	ee.Notes,
	ee.PhoriaD,
	ee.PhoriaN,
	ee.CoverTestDistance,
	ee.CoverTestNear,
	ee.MotilityDistance,
	ee.MotilityNear,
	ee.PupilRAPD,
	ee.ConvergenceDistance,
	ee.ConvergenceNear,
	ee.MuscleBalanceFDDistance,
	ee.MuscleBalanceFDNear,
	ee.AccommodationDistance,
	ee.AccommodationNear,
	ee.ConfrontationLeft,
	ee.ConfrontationRight,
	ee.KeratometryDistance,
	ee.KeratometryNear,
	ee.VisualFieldsR,
	ee.VisualFields,
	ee.AmslerR,
	ee.Amsler,
	ee.ColourVisionR,
	ee.ColourVision,
	ee.StereoVisionR,
	ee.StereoVision,
	ee.Other,
	dl.Name Dialated,
	ee.DrugUsed,
	ee.TimeDrugUsed,
	ee.DrugBatch,
	ee.DrugExpiry,
	ee.lidslashesright,
	ee.lidslashesleft,
	ee.ConjunctivaRight,
	ee.ConjunctivaLeft,
	ee.cornearight,
	ee.cornealeft,
	ee.acright,
	ee.acleft,
	ee.vitreousright,
	ee.vitreousleft,
	ee.IrisRight,
	ee.IrisLeft,
	ee.pupilsright,
	ee.pupilsleft,
	ee.ExternalEyeLensRight,
	ee.ExternalEyeLensLeft,
	an.Name anisocoria,
	ee.OphthalmoscopyMethodUsed,
	ee.OphthalmoscopyRDisc,
	ee.OphthalmoscopyRNRR,
	ee.OphthalmoscopyRCDRatio,
	ee.OphthalmoscopyRVessels,
	ee.OphthalmoscopyRPeriphery,
	ee.OphthalmoscopyRMacula,
	ee.OphthalmoscopyLDisc,
	ee.OphthalmoscopyLNRR,
	ee.OphthalmoscopyLCDRatio,
	ee.OphthalmoscopyLVessels,
	ee.OphthalmoscopyLPeriphery,
	ee.OphthalmoscopyLMacula,
	ee.OphthalmoscopyDescription
	from EyeExams ee
	inner join Customers c on c.Id = ee.Customer_Id
	inner join AspNetUsers op on op.Id = ee.Optician_Id
	inner join Practices p on p.Id = c.practice_Id
	left join Bases bRBaseDistH on bRBaseDistH.Id = ee.RBaseDistH
	left join Bases bLBaseDistH on bLBaseDistH.Id = ee.LBaseDistH
	left join Bases bRBaseDistV on bRBaseDistV.Id = ee.RBaseDistV
	left join Bases bLBaseDistV on bLBaseDistV.Id = ee.LBaseDistV
	left join Bases bRBaseNearH on bRBaseNearH.Id = ee.RBaseNearH
	left join Bases bLBaseNearH on bLBaseNearH.Id = ee.LBaseNearH
	left join Bases bRBaseNearV on bRBaseNearV.Id = ee.RBaseNearV
	left join Bases bLBaseNearV on bLBaseNearV.Id = ee.LBaseNearV
	inner join Enums om on (om.EnumName = 'ObjectiveMethod' and om.EnumId = ee.ObjectiveMethodEnum)
	left join Enums dl on (dl.EnumName = 'YesNo' and dl.EnumId = ee.Dialated)
	left join Enums an on (an.EnumName = 'YesNo' and an.EnumId = ee.anisocoria)
	where ee.Id = @EyeExamId	
END
GO