
@{
    ViewBag.Title = "Products";
}

<h2>Products</h2>

Products can be added from the Products section. This requires either the Admin or the Product Manager permission.

<br />
<br />
<table class="table">
    <tr>
        <th>
            Type
        </th>
        <th>
            Deducts from order total
        </th>
    </tr>
    <tr>
        <td>None</td>
        <td>No</td>
    </tr>
    <tr>
        <td>Frame</td>
        <td>No</td>
    </tr>
    <tr>
        <td>Lens</td>
        <td>No</td>
    </tr>
    <tr>
        <td>Service</td>
        <td>No</td>
    </tr>
    <tr>
        <td>Discount Code</td>
        <td>Yes</td>
    </tr>
    <tr>
        <td>Payment</td>
        <td>Yes</td>
    </tr>
    <tr>
        <td>NHS Voucher</td>
        <td>Yes</td>
    </tr>
    <tr>
        <td>Sunglasses</td>
        <td>No</td>
    </tr>
    <tr>
        <td>Contact Lens</td>
        <td>No</td>
    </tr>
    <tr>
        <td>Tint</td>
        <td>No</td>
    </tr>
    <tr>
        <td>Professional Fee</td>
        <td>No</td>
    </tr>
    <tr>
        <td>Repairs / Replacements</td>
        <td>No</td>
    </tr>
    <tr>
        <td>Sight Test</td>
        <td>No</td>
    </tr>
</table>