--select * from Practices

declare @practice_id uniqueidentifier = '37B9F9B4-1005-45F2-9395-9F6F4003D672'

SELECT [Id]
      ,[Number]
      ,[Title]
      ,[Firstnames]
      ,[Surname]
      ,[PreviousSurname]
      ,[DOB]
      ,replace(replace([Address], char(10), ', '), char(13), '') Address
      ,[Postcode] 
      ,[Telephone]
      ,[SMSNumber]
      ,[Email]
      ,[TestFrequencyId]
      ,[LastTestDate]
      ,replace(replace([Comments], char(10), ', '), char(13), '') Comments
      ,[LastOptician]
      ,[LastOpticianContact]
      ,[Occupation]
      ,[CLFitDrName]
      ,[CLFitDrAddress]
      ,[CLFitDriver]
      ,[CLFitVDU]
      ,[CLFitOccupation]
      ,[CLFitHobbiesSports]
      ,[CLFitExistingWearer]
      ,[CLFitPreviousWearingDetails]
      ,[CLFitType]
      ,[CLFitWearingTime]
      ,[CLFitSolutionsUsed]
      ,[CLFitCurrentPreviousProblems]
      ,[CLFitTrialComments]
      ,[CLFitTrialOptometrist]
      ,[CLFitWearingSchedule]
      ,[CLFitCleaningSchedule]
      ,[CLFitDOHFormCompleted]
      ,[CLFitCollectionLensesIn]
      ,[CLFitCollectionWearingTime]
      ,[CLFitCollectionAdvice]
      ,[CLFitCollectionNextAppointment]
      ,[CLFitCollectionOptometrist]
      ,[CLFitCleaningRegime]
      ,[NINo]
      ,[NHSNo]
      ,[ParentTitle]
      ,[ParentName]
      ,[ParentAddress]
      ,[ParentPostCode]
      ,[Parentsurname]
      ,replace(replace([RFV], char(10), ', '), char(13), '') RFV
      ,replace(replace([GH], char(10), ', '), char(13), '') GH
      ,replace(replace([MEDS], char(10), ', '), char(13), '') MEDS
      ,replace(replace([POH], char(10), ', '), char(13), '') POH
      ,[FH]
      ,[NHSPrivate]
      ,[NHSReason]
      ,[NHSVoucher]
      ,[GPpracticename]
      ,[GPpracticepostcode]
      ,[GPpracticephone]
      ,[GPpracticefax]
      ,[GPpracticeemail]
      ,[glaucoma]
      ,[contactlenswearer]
      ,[lidslashesleft]
      ,[cornealeft]
      ,[acleft]
      ,[vitreousleft]
      ,[lensleft]
      ,[disccdratioleft]
      ,[discnrrleft]
      ,[disccolourleft]
      ,[marginsleft]
      ,[vesselsleft]
      ,[avratioleft]
      ,[macularleft]
      ,[peripheryleft]
      ,[pupilsleft]
      ,[lidslashesright]
      ,[cornearight]
      ,[acright]
      ,[vitreousright]
      ,[lensright]
      ,[disccdratioright]
      ,[discnrrright]
      ,[disccolourright]
      ,[marginsright]
      ,[vesselsright]
      ,[avratioright]
      ,[macularright]
      ,[peripheryright]
      ,[pupilsright]
      ,[Smoker]
      ,[diabetic]
      ,[practice_Id]
      ,[ExternalId]
      ,[LastUpdated]
      ,[CreatedByUser_Id]
      ,[EyeExamFrequencyValue]
      ,[EyeExamFrequencyUnit]
      ,[ContactLensExamFrequencyValue]
      ,[ContactLensExamFrequencyUnit]
      ,[NextDueDateEyeExam]
      ,[NextDueDateContactLensExam]
      ,[EyeExamRecallSent]
      ,[ContactLensExamRecallSent]
      ,[PreviousEyeExamDate]
      ,replace(replace([GPpracticeaddress], char(10), ', '), char(13), '') GPpracticeaddress
      ,[Doctor]
      ,[DoctorContact]
      ,[DefaultMessageMethod]
      ,[Deleted]
      ,[DeletedByUser_Id]
      ,[SchoolCollegeUniversity]
      ,[SchoolCollegeUniversityAddress]
      ,[SchoolCollegeUniversityPostcode]
      ,[RecallCount]
      ,replace(replace([SymptomsAndHistory], char(10), ', '), char(13), '') SymptomsAndHistory
      ,[Allergies]
      ,[PreviousContactLensExamDate]
      ,[Benefit]
      ,[Created]
      ,[CareHome]
      ,[ShelteredAccommodation]
      ,[EmailReminders]
      ,[SMSReminders]
      ,[LetterReminders]
      ,[eyeExamRecallTemplate_Id]
      ,[contactLensExamRecallTemplate_Id]
      ,[TelephoneReminders]
      ,[ExcludeFromRecalls]
      ,[WorkTelephone]
      ,[LastRecallMessage_Id]
  FROM [Customers]
  where practice_Id = @practice_id

  SELECT e.[Id]
      ,e.[TestDateAndTime]
      ,e.[customer_Id]
      ,replace(replace(e.[Notes], char(10), ', '), char(13), '') Notes 
      ,e.[RSphericalDist]
      ,e.[LSphericalDist]
      ,e.[RCylDist]
      ,e.[LCylDist]
      ,e.[RAxisDist]
      ,e.[LAxisDist]
      ,e.[RPrismDistH]
      ,e.[LPrismDistH]
      ,e.[RBaseDistH]
      ,e.[LBaseDistH]
      ,e.[RSphericalNear]
      ,e.[LSphericalNear]
      ,e.[RCylNear]
      ,e.[LCylNear]
      ,e.[RAxisNear]
      ,e.[LAxisNear]
      ,e.[RPrismNearH]
      ,e.[LPrismNearH]
      ,e.[RBaseNearH]
      ,e.[LBaseNearH]
      ,e.[RVision]
      ,e.[LVision]
      ,e.[RDistVA]
      ,e.[LDistVA]
      ,e.[RNearVA]
      ,e.[LNearVA]
      ,e.[Title]
      ,e.[Start]
      ,e.[End]
      ,replace(replace(e.[RFV], char(10), ', '), char(13), '') RFV 
      ,replace(replace(e.[GH], char(10), ', '), char(13), '') GH
      ,replace(replace(e.[MEDS], char(10), ', '), char(13), '') MEDS
      ,replace(replace(e.[POH], char(10), ', '), char(13), '') POH
      ,replace(replace(e.[FH], char(10), ', '), char(13), '') FH
      ,replace(replace(e.[CoverTestDistance], char(10), ', '), char(13), '') CoverTestDistance
      ,e.[CoverTestNear]
      ,e.[ConvergenceDistance]
      ,e.[ConvergenceNear]
      ,e.[MotilityDistance]
      ,e.[MotilityNear]
      ,e.[AccommodationDistance]
      ,e.[AccommodationNear]
      ,e.[MuscleBalanceFDDistance]
      ,e.[MuscleBalanceFDNear]
      ,e.[KeratometryDistance]
      ,e.[KeratometryNear]
      ,e.[RetinoscopyRight]
      ,e.[RetinoscopyLeft]
      ,e.[BVDRight]
      ,e.[BVDLeft]
      ,e.[PDRight]
      ,e.[PDLeft]
      ,e.[VisualFields]
      ,e.[Amsler]
      ,e.[ColourVision]
      ,e.[StereoVision]
      ,e.[Other]
      ,e.[DVisionRight]
      ,e.[DVisionLeft]
      ,e.[NVision]
      ,e.[SphRight]
      ,e.[SphLeft]
      ,e.[CylRight]
      ,e.[CylLeft]
      ,e.[PrismRight]
      ,e.[PrismLeft]
      ,e.[VARight]
      ,e.[VALeft]
      ,e.[BinVA]
      ,e.[IAddRight]
      ,e.[IAddLeft]
      ,e.[NAddRight]
      ,e.[NAddLeft]
      ,e.[Prism2Right]
      ,e.[Prism2Left]
      ,e.[NVA]
      ,e.[AdviceAndRecall]
      ,e.[AxisRight]
      ,e.[AxisLeft]
      ,e.[DispenseSRight]
      ,e.[DispenseCRight]
      ,e.[DispenseARight]
      ,e.[DispensePrismRight]
      ,e.[DispenseAddRight]
      ,e.[DispenseLensRight]
      ,e.[DispenseOCRight]
      ,e.[DispenseHeightAboveRight]
      ,e.[DispenseSLeft]
      ,e.[DispenseCLeft]
      ,e.[DispenseALeft]
      ,e.[DispensePrismLeft]
      ,e.[DispenseAddLeft]
      ,e.[DispenseLensLeft]
      ,e.[DispenseOCLeft]
      ,e.[DispenseHeightAboveLeft]
      ,e.[DispenseFrameDetails]
      ,e.[DispenseFrame]
      ,e.[DispenseFramePrice]
      ,e.[DispenseLens]
      ,e.[DispenseLensPrice]
      ,e.[DispenseEyeExamination]
      ,e.[DispenseEyeExaminationPrice]
      ,e.[DispenseLessVoucher]
      ,e.[DispenseTotal]
      ,e.[DispenseDeposit]
      ,e.[DispenseDepositDate]
      ,e.[DispenseOutstandingBalance]
      ,e.[DispenseOutstandingBalanceDate]
      ,e.[appointmentCategory]
      ,e.[AppointmentRoom]
      ,e.[NHSPrivate]
      ,e.[NHSReason]
      ,e.[NHSVoucher]
      ,e.[CLFitExistingWearer]
      ,e.[CLFitPreviousWearingDetails]
      ,e.[CLFitType]
      ,e.[CLFitWearingTime]
      ,e.[CLFitSolutionsUsed]
      ,e.[CLFitCurrentPreviousProblems]
      ,e.[CLFitTrialComments]
      ,e.[CLFitTrialOptometrist]
      ,e.[CLFitWearingSchedule]
      ,e.[CLFitCleaningRegime]
      ,e.[CLFitDOHFormCompleted]
      ,e.[CLFitCollectionLensesIn]
      ,e.[CLFitCollectionWearingTime]
      ,e.[CLFitCollectionAdvice]
      ,e.[CLFitCollectionNextAppointment]
      ,e.[CLFitCollectionOptometrist]
      ,e.[AdviceAndRecallType]
      ,e.[NextTestDueDate]
      ,replace(replace(e.[lidslashesleft], char(10), ', '), char(13), '') lidslashesleft
      ,e.[cornealeft]
      ,e.[acleft]
      ,e.[vitreousleft]
      ,e.[lensleft]
      ,e.[disccdratioleft]
      ,e.[discnrrleft]
      ,e.[disccolourleft]
      ,e.[marginsleft]
      ,e.[vesselsleft]
      ,e.[avratioleft]
      ,e.[macularleft]
      ,e.[peripheryleft]
      ,e.[pupilsleft]
      ,e.[lidslashesright]
      ,e.[cornearight]
      ,e.[acright]
      ,e.[vitreousright]
      ,e.[lensright]
      ,e.[disccdratioright]
      ,e.[discnrrright]
      ,e.[disccolourright]
      ,e.[marginsright]
      ,e.[vesselsright]
      ,e.[avratioright]
      ,e.[macularright]
      ,e.[peripheryright]
      ,e.[pupilsright]
      ,e.[CTDist]
      ,e.[CTNear]
      ,e.[PhoriaD]
      ,e.[PhoriaN]
      ,e.[NPC]
      ,e.[IOPR1]
      ,e.[IOPR2]
      ,e.[IOPR3]
      ,e.[IOPL1]
      ,e.[IOPL2]
      ,e.[IOPL3]
      ,e.[VfieldsRight]
      ,e.[VfieldsLeft]
      ,e.[PupilRAPD]
      ,e.[ConfrontationRight]
      ,e.[ConfrontationLeft]
      ,e.[Dialated]
      ,e.[DrugUsed]
      ,e.[TimeDrugUsed]
      ,e.[IOPRAvg]
      ,e.[IOPLAvg]
      ,e.[IOPTime]
      ,e.[VisualFieldsR]
      ,e.[AmslerR]
      ,e.[ColourVisionR]
      ,e.[StereoVisionR]
      ,e.[OtherR]
      ,e.[PupilDiameterL]
      ,e.[PupilDiameterR]
      ,e.[UpperLidR]
      ,e.[UpperLidL]
      ,e.[CorneaL]
      ,e.[CorneaR]
      ,e.[LowerLidR]
      ,e.[LowerLidL]
      ,e.[MeibomianGlandsL]
      ,e.[MeibomianGlandsR]
      ,e.[LimbalAppearanceR]
      ,e.[LimbalAppearanceL]
      ,e.[CounjunctivalAppaeranceL]
      ,e.[CounjunctivalAppaeranceR]
      ,e.[TearQualityR]
      ,e.[TearQualityL]
      ,e.[LensTypeL]
      ,e.[LensTypeR]
      ,e.[SpecificationR]
      ,e.[SpecificationL]
      ,e.[FittingCentrationL]
      ,e.[FittingCentrationR]
      ,e.[MovementR]
      ,e.[MovementL]
      ,e.[CLSphL]
      ,e.[CLSphR]
      ,e.[CLCyl]
      ,e.[CLAxisR]
      ,e.[CLAxisL]
      ,e.[CLVaR]
      ,e.[CLVaL]
      ,e.[CLOverReactionL]
      ,e.[CLOverReactionR]
      ,e.[CLBestVaR]
      ,e.[CLBestVaL]
      ,e.[LensTypeR2]
      ,e.[LensTypeL2]
      ,e.[SpecificationR2]
      ,e.[SpecificationL2]
      ,e.[FittingCentrationL2]
      ,e.[FittingCentrationR2]
      ,e.[MovementR2]
      ,e.[MovementL2]
      ,e.[AppointmentComplete]
      ,e.[CleaningRegime]
      ,e.[LastTestDate]
      ,e.[Smoker]
      ,e.[HasArrived]
      ,e.[ContactLensDueDate]
      ,e.[NVisionLeft]
      ,e.[NVALeft]
      ,e.[BinVALeft]
      ,e.[BinNVALeft]
      ,e.[BinNVARight]
      ,e.[PDLeftNear]
      ,e.[PDRightNear]
      ,e.[ConjunctivaRight]
      ,e.[ConjunctivaLeft]
      ,e.[IrisRight]
      ,e.[IrisLeft]
      ,e.[anisocoria]
      ,e.[CLCylLeft]
      ,e.[LensTypeLeft]
      ,e.[LensTypeRight]
      ,e.[ManufacturerLeft]
      ,e.[ManufacturerRight]
      ,e.[LensNameLeft]
      ,e.[LensNameRight]
      ,e.[CLBozrRight]
      ,e.[CLTdRight]
      ,e.[CLBinVARight]
      ,e.[CLBozrLeft]
      ,e.[CLTdLeft]
      ,e.[CLBinVALeft]
      ,e.[CLCondofLensLeft]
      ,e.[CLCondofLensRight]
      ,e.[CLLagRight]
      ,e.[CLLagLeft]
      ,e.[CLToricRotationLeft]
      ,e.[CLToricRotationRight]
      ,e.[CLCondofLensLeft2]
      ,e.[CLCondofLensRight2]
      ,e.[CLLagRight2]
      ,e.[CLLagLeft2]
      ,e.[CLToricRotationLeft2]
      ,e.[CLToricRotationRight2]
      ,e.[DrugExpiry]
      ,e.[DrugBatch]
      ,e.[RetDvisionR]
      ,e.[RetDvisionL]
      ,e.[RetNvisionR]
      ,e.[RetNvisionL]
      ,e.[RetSphereR]
      ,e.[RetSphereL]
      ,e.[RetCylR]
      ,e.[RetCylL]
      ,e.[RetAxisR]
      ,e.[RetAxisL]
      ,e.[TbutL]
      ,e.[TbutR]
      ,e.[SplitACR]
      ,e.[SplitACL]
      ,e.[CLNotes]
      ,e.[InsertionRemoval]
      ,e.[ReasonforCLApp]
      ,e.[FirstLensType]
      ,e.[SecondLensType]
      ,e.[FirstOccupational]
      ,e.[FirstUV]
      ,e.[FirstPhotochromic]
      ,e.[FirstMAR]
      ,e.[FirstTint]
      ,e.[FirstScratch]
      ,e.[FirstThin]
      ,e.[SecondOccupational]
      ,e.[SecondUV]
      ,e.[SecondPhotochromic]
      ,e.[SecondMAR]
      ,e.[SecondTint]
      ,e.[SecondScratch]
      ,e.[SecondThin]
      ,e.[CreatedByUser_Id]
      ,e.[CreatedTimestamp]
      ,e.[UpdatedTimestamp]
      ,e.[Deleted]
      ,e.[DeletedByUser_Id]
      ,e.[Optician_Id]
      ,e.[RBaseDistV]
      ,e.[LBaseDistV]
      ,e.[RBaseNearV]
      ,e.[LBaseNearV]
      ,e.[RPrismDistV]
      ,e.[LPrismDistV]
      ,e.[RPrismNearV]
      ,e.[LPrismNearV]
      ,e.[SubRVisionD]
      ,e.[SubRVisionN]
      ,e.[SubLVisionD]
      ,e.[SubLVisionN]
      ,e.[SubRSph]
      ,e.[SubLSph]
      ,e.[SubRCyl]
      ,e.[SubLCyl]
      ,e.[SubRAxis]
      ,e.[SubLAxis]
      ,e.[SubRPrismD]
      ,e.[SubLPrismD]
      ,e.[SubRVA]
      ,e.[SubLVA]
      ,e.[SubRBinVA]
      ,e.[SubLBinVA]
      ,e.[SubRIAdd]
      ,e.[SubLIAdd]
      ,e.[SubRNAdd]
      ,e.[SubLNAdd]
      ,e.[SubRNVA]
      ,e.[SubLNVA]
      ,e.[SubRBinNVA]
      ,e.[SubLBinNVA]
      ,e.[SubRPrismN]
      ,e.[SubLPrismN]
      ,e.[OphthalmoscopyMethodUsed]
      ,e.[OphthalmoscopyRDisc]
      ,e.[OphthalmoscopyLDisc]
      ,e.[OphthalmoscopyRNRR]
      ,e.[OphthalmoscopyLNRR]
      ,e.[OphthalmoscopyRCDRatio]
      ,e.[OphthalmoscopyLCDRatio]
      ,e.[OphthalmoscopyRVessels]
      ,e.[OphthalmoscopyLVessels]
      ,e.[OphthalmoscopyRPeriphery]
      ,e.[OphthalmoscopyLPeriphery]
      ,e.[OphthalmoscopyRMacula]
      ,e.[OphthalmoscopyLMacula]
      ,e.[OphthalmoscopyDescription]
      ,replace(replace(e.[PatientAdvice], char(10), ', '), char(13), '') PatientAdvice
      ,replace(replace(e.[ProductRecommendations], char(10), ', '), char(13), '') ProductRecommendations
      ,e.[ReferralSent]
      ,replace(replace(e.[SymptomsAndHistory], char(10), ', '), char(13), '') SymptomsAndHistory
      ,e.[Allergies]
      ,e.[IOPR4]
      ,e.[IOPR5]
      ,e.[IOPL4]
      ,e.[IOPL5]
      ,e.[ObjectiveMethodEnum]
      ,e.[RHeight]
      ,e.[LHeight]
      ,replace(replace(e.[Dipl], char(10), ', '), char(13), '') Dipl
      ,replace(replace(e.[HA], char(10), ', '), char(13), '') HA
      ,replace(replace(e.[FF], char(10), ', '), char(13), '') FF 
      ,e.[ExternalOpticianName]
      ,e.[ExternalPracticeName]
  FROM [EyeExams] e
  inner join Customers c on c.Id = e.customer_Id
  where c.practice_Id = @practice_id

  SELECT *
  FROM [InvoiceDetails] id
  inner join Invoices i on i.Id = id.invoice_Id
  inner join Products p on p.Id = id.product_Id
  where i.practice_Id = @practice_id